/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2019
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [pubs]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE DATABASE [pubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pubs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pubs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pubs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pubs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pubs]
GO
/****** Object:  Schema [Audit]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE SCHEMA [Audit]
GO
/****** Object:  UserDefinedDataType [dbo].[empid]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE TYPE [dbo].[empid] FROM [char](9) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[id]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE TYPE [dbo].[id] FROM [varchar](11) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tid]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE TYPE [dbo].[tid] FROM [varchar](6) NOT NULL
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateFirstName]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_GenerateFirstName]()
RETURNS VARCHAR(100) AS
BEGIN
    DECLARE @fname VARCHAR(100)
    SET @fname = 
                    (
                        SELECT TOP 1 p.FirstName 
                        FROM AdventureWorks.Person.Person p  
                        ORDER BY (SELECT id FROM dbo.view_NewID)
                    )
    RETURN @fname
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateLastName]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_GenerateLastName]()
RETURNS VARCHAR(100) AS
BEGIN
    DECLARE @lname VARCHAR(100)
    SET @lname = 
                    (
                        SELECT TOP 1 p.LastName 
                        FROM AdventureWorks.Person.Person p  
                        ORDER BY (SELECT id FROM dbo.view_NewID)
                    )
    RETURN @lname
END;



GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateRandomAddress]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GenerateRandomAddress]()
RETURNS VARCHAR(200) AS
BEGIN
    DECLARE @address VARCHAR(200)
    SET @address = 
                    (
                        SELECT TOP 1 ad.AddressLine1
                        FROM AdventureWorks.Person.Address ad
                        WHERE AddressLine1 IS NOT NULL
                        ORDER BY (SELECT id FROM dbo.view_NewID)
                    )
    RETURN @address
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateRandomAuthorId]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_GenerateRandomAuthorId](
    @RAND FLOAT 
)
RETURNS VARCHAR(11) AS
BEGIN
    DECLARE @author_id VARCHAR(11)
    DECLARE @a1 AS CHAR(3) = (SELECT(CAST((FLOOR(@RAND*(999-100+1)+100)) AS CHAR)))
    DECLARE @a2 AS CHAR(2) = (SELECT(CAST((FLOOR(@RAND*(99-10+1)+10)) AS CHAR)))
    DECLARE @a3 AS CHAR(4) = (SELECT(CAST((FLOOR(@RAND*(9999-1000+1)+1000)) AS CHAR)))
    SET @author_id = (SELECT @a1 + '-' + @a2 + '-' + @a3)
    RETURN @author_id
END;




GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateRandomDate]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_GenerateRandomDate](
	 @DateStart	DATE
	,@DateEnd	DATE
    ,@RAND FLOAT
)
RETURNS DATE AS
BEGIN
    DECLARE @randomDate DATE
	SET	@randomDate = DateAdd(Day, @RAND * DateDiff(Day, @DateStart, @DateEnd), @DateStart)
	RETURN 	@randomDate
END;


GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateRandomPhone]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GenerateRandomPhone](
    @RAND FLOAT 
)
RETURNS VARCHAR(12) AS
BEGIN
    DECLARE @phone VARCHAR(12)
    DECLARE @p1 AS CHAR(3) = (SELECT(CAST((FLOOR(@RAND*(999-100+1)+100)) AS CHAR)))
    DECLARE @p2 AS CHAR(3) = (SELECT(CAST((FLOOR(@RAND*(999-100+1)+100)) AS CHAR)))
    DECLARE @p3 AS CHAR(4) = (SELECT(CAST((FLOOR(@RAND*(9999-1000+1)+1000)) AS CHAR)))
    SET @phone = (SELECT @p1 + '-' + @p2 + '-' + @p3)
    RETURN @phone
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerateRandomSsn]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GenerateRandomSsn](
    @RAND FLOAT 
)
RETURNS VARCHAR(11) AS
BEGIN
    DECLARE @ssn VARCHAR(11)
    SET @ssn = (
                    CAST(CAST(100 + (898 * @RAND) AS INT) AS VARCHAR(3)) + 
                    '-' + 
                    CAST(CAST(10 + (88 * @RAND) AS INT) AS VARCHAR(2)) + 
                    '-' + 
                    CAST(CAST(1000 + (8998 * @RAND) AS INT) AS VARCHAR(4))
                  )
    RETURN @ssn
END;




GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetRandomNumber]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetRandomNumber] (
	@Lower INT, 
    @Upper INT,
    @RAND FLOAT 
)
RETURNS INT AS
BEGIN
	IF NOT (@Lower < @Upper) 
        BEGIN 
            --RAISERROR('@Lower parameter can not be greater than or equal to the @Upper parameter', 16, 1)
            RETURN -1
        END
    DECLARE @Random INT;
    SET @Random = ROUND(((@Upper - @Lower -1) * @RAND + @Lower), 0)
    RETURN @Random
END;



GO
/****** Object:  Table [dbo].[authors]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[au_id] [dbo].[id] NOT NULL,
	[au_lname] [varchar](40) NOT NULL,
	[au_fname] [varchar](20) NOT NULL,
	[phone] [char](12) NOT NULL,
	[address] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[zip] [char](5) NULL,
	[contract] [bit] NOT NULL,
 CONSTRAINT [UPKCL_auidind] PRIMARY KEY CLUSTERED 
(
	[au_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titles]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titles](
	[title_id] [dbo].[tid] NOT NULL,
	[title] [varchar](100) NULL,
	[pub_id] [char](4) NULL,
	[price] [money] NULL,
	[advance] [money] NULL,
	[royalty] [int] NULL,
	[ytd_sales] [int] NULL,
	[notes] [varchar](800) NULL,
	[pubdate] [datetime] NOT NULL,
	[prequel_id] [varchar](6) NULL,
	[ISBN] [varchar](17) NOT NULL,
 CONSTRAINT [UPKCL_titleidind] PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titleauthor]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titleauthor](
	[au_id] [dbo].[id] NOT NULL,
	[title_id] [dbo].[tid] NOT NULL,
	[au_ord] [tinyint] NULL,
	[royaltyper] [int] NULL,
 CONSTRAINT [UPKCL_taind] PRIMARY KEY CLUSTERED 
(
	[au_id] ASC,
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[titleview]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[titleview]
AS
select title, au_ord, au_lname, price, ytd_sales, pub_id
from authors, titles, titleauthor
where authors.au_id = titleauthor.au_id
   AND titles.title_id = titleauthor.title_id

GO
/****** Object:  View [dbo].[view_NewID]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[view_NewID] As Select NEWID() as id

GO
/****** Object:  Table [Audit].[Book]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Audit].[Book](
	[pub_id] [char](4) NULL,
	[pub_name] [varchar](40) NULL,
	[pub_city] [varchar](20) NULL,
	[pub_state] [char](2) NULL,
	[pub_country] [varchar](30) NULL,
	[random_title_id] [dbo].[tid] NOT NULL,
	[prequel_id] [varchar](11) NULL,
	[book_title] [varchar](100) NULL,
	[book_type] [char](40) NULL,
	[book_price] [money] NULL,
	[book_advance] [money] NULL,
	[book_royalty] [int] NULL,
	[book_ytd_sales] [int] NULL,
	[book_notes] [varchar](800) NULL,
	[book_pubdate] [datetime] NULL,
	[random_au_id] [dbo].[id] NOT NULL,
	[au_lname] [varchar](40) NULL,
	[au_fname] [varchar](20) NULL,
	[au_phone] [char](12) NULL,
	[au_address] [varchar](40) NULL,
	[au_city] [varchar](20) NULL,
	[au_state] [char](2) NULL,
	[au_zip] [char](5) NULL,
	[au_contract] [bit] NULL,
	[royalty_per] [int] NULL,
	[au_ord] [tinyint] NULL,
	[created_date] [datetime] NULL,
	[created_by] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookcopies]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookcopies](
	[copy_id] [int] NOT NULL,
	[title_id] [dbo].[tid] NOT NULL,
	[branch_id] [int] NOT NULL,
	[condition] [varchar](10) NOT NULL,
	[isavailable] [bit] NOT NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK__bookcopi__3C21D2D253AA47D8] PRIMARY KEY CLUSTERED 
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookcopy_history]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookcopy_history](
	[id] [int] NOT NULL,
	[copy_id] [int] NOT NULL,
	[note] [varchar](400) NOT NULL,
	[createddate] [date] NOT NULL,
 CONSTRAINT [PK__bookcopy__3213E83F46802883] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books_borrowed]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books_borrowed](
	[id] [int] NOT NULL,
	[copy_id] [int] NOT NULL,
	[card_id] [int] NOT NULL,
	[borroweddate] [date] NOT NULL,
	[duedate] [date] NOT NULL,
	[isReturned] [bit] NOT NULL,
	[returndate] [date] NULL,
 CONSTRAINT [PK__books_bo__3213E83F6B6BA886] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrowers]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrowers](
	[id] [int] NOT NULL,
	[card_id] [int] NOT NULL,
	[ssn] [varchar](11) NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[phone] [char](12) NOT NULL,
	[birthdate] [date] NOT NULL,
	[card_issuedate] [date] NOT NULL,
	[balancedue] [decimal](6, 2) NOT NULL,
	[isexpired] [bit] NOT NULL,
	[lg_address] [varchar](200) NULL,
	[lg_name] [varchar](200) NULL,
	[lg_phoneNumber] [varchar](12) NULL,
 CONSTRAINT [PK__borrower__3213E83F5E95B92D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branchs]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branchs](
	[branch_id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[phone] [char](12) NOT NULL,
	[fax] [char](12) NULL,
 CONSTRAINT [PK__branch__E55E37DE621CD3A4] PRIMARY KEY CLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[type_id] [int] NOT NULL,
	[type] [varchar](100) NOT NULL,
 CONSTRAINT [PK__title_ty__2C00059800C71E4A] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[degrees]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[degrees](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Degrees__3213E83FA6B40251] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[discounttype] [varchar](40) NOT NULL,
	[stor_id] [char](4) NULL,
	[lowqty] [smallint] NULL,
	[highqty] [smallint] NULL,
	[discount] [decimal](4, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_type]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_type](
	[id] [int] NOT NULL,
	[type] [varchar](100) NOT NULL,
 CONSTRAINT [PK__employee__3213E83FB416B887] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[homephone] [char](12) NULL,
	[cellphone] [char](12) NOT NULL,
	[salary_type] [char](1) NOT NULL,
	[salary] [decimal](6, 0) NULL,
	[birthdate] [date] NOT NULL,
	[hiredate] [date] NOT NULL,
	[vacation_hours] [int] NOT NULL,
	[degree_id] [int] NOT NULL,
	[school_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[ishead_librarian] [bit] NOT NULL,
	[employee_type_id] [int] NOT NULL,
	[degreedate] [date] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK__libraria__C52E0BA85F7A3A37] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paychecks]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paychecks](
	[id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[amount] [decimal](8, 2) NOT NULL,
	[createddate] [date] NOT NULL,
 CONSTRAINT [PK__paycheck__3213E83F3EB48EB3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pub_info]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pub_info](
	[pub_id] [char](4) NOT NULL,
	[logo] [image] NULL,
	[pr_info] [text] NULL,
 CONSTRAINT [UPKCL_pubinfo] PRIMARY KEY CLUSTERED 
(
	[pub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[pub_id] [char](4) NOT NULL,
	[pub_name] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[country] [varchar](30) NULL,
 CONSTRAINT [UPKCL_pubind] PRIMARY KEY CLUSTERED 
(
	[pub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[stor_id] [char](4) NOT NULL,
	[ord_num] [varchar](20) NOT NULL,
	[ord_date] [datetime] NOT NULL,
	[qty] [smallint] NOT NULL,
	[payterms] [varchar](12) NOT NULL,
	[title_id] [dbo].[tid] NOT NULL,
 CONSTRAINT [UPKCL_sales] PRIMARY KEY CLUSTERED 
(
	[stor_id] ASC,
	[ord_num] ASC,
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Schools__3213E83FA4AD8ACB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift_logs]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift_logs](
	[id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[hours] [int] NOT NULL,
	[shiftdate] [date] NOT NULL,
 CONSTRAINT [PK__shift_lo__3213E83F896BA1A4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stores]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores](
	[stor_id] [char](4) NOT NULL,
	[stor_name] [varchar](40) NULL,
	[stor_address] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[zip] [char](5) NULL,
 CONSTRAINT [UPK_storeid] PRIMARY KEY CLUSTERED 
(
	[stor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titlecategory]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titlecategory](
	[id] [int] NOT NULL,
	[title_id] [dbo].[tid] NOT NULL,
	[title_type_id] [int] NOT NULL,
 CONSTRAINT [UPKCL_ttind] PRIMARY KEY CLUSTERED 
(
	[title_type_id] ASC,
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'172-32-1176', N'White', N'Johnson', N'408 496-7223', N'10932 Bigge Rd.', N'Menlo Park', N'CA', N'94025', 1)
INSERT [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'182-52-8743', N'Rowling', N'Joanne', N'999 000-0000', N'3833, boulevard Beau Marchais', N'YATE', N'  ', N'99796', 0)
INSERT [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'213-46-8915', N'Green', N'Marjorie', N'415 986-7020', N'309 63rd St. #411', N'Oakland', N'CA', N'94618', 1)
GO
INSERT [dbo].[bookcopies] ([copy_id], [title_id], [branch_id], [condition], [isavailable], [isactive]) VALUES (1, N'BL4371', 1, N'NEW', 1, 1)
INSERT [dbo].[bookcopies] ([copy_id], [title_id], [branch_id], [condition], [isavailable], [isactive]) VALUES (2, N'BL4371', 2, N'NEW', 0, 1)
INSERT [dbo].[bookcopies] ([copy_id], [title_id], [branch_id], [condition], [isavailable], [isactive]) VALUES (3, N'BL4371', 3, N'NEW', 1, 1)
GO
INSERT [dbo].[books_borrowed] ([id], [copy_id], [card_id], [borroweddate], [duedate], [isReturned], [returndate]) VALUES (1, 10, 2, CAST(N'2022-04-01' AS Date), CAST(N'2022-04-15' AS Date), 1, CAST(N'2022-04-24' AS Date))
INSERT [dbo].[books_borrowed] ([id], [copy_id], [card_id], [borroweddate], [duedate], [isReturned], [returndate]) VALUES (2, 9, 3, CAST(N'2022-04-24' AS Date), CAST(N'2022-05-08' AS Date), 0, NULL)
INSERT [dbo].[books_borrowed] ([id], [copy_id], [card_id], [borroweddate], [duedate], [isReturned], [returndate]) VALUES (3, 11, 4, CAST(N'2022-04-24' AS Date), CAST(N'2022-05-08' AS Date), 0, NULL)
GO
INSERT [dbo].[borrowers] ([id], [card_id], [ssn], [first_name], [last_name], [address], [phone], [birthdate], [card_issuedate], [balancedue], [isexpired], [lg_address], [lg_name], [lg_phoneNumber]) VALUES (1, 1, N'153-32-2413', N'Victoria', N'Carlson', N'8871 Likins Ave.', N'280-555-0166', CAST(N'2007-05-01' AS Date), CAST(N'2019-10-19' AS Date), CAST(10.00 AS Decimal(6, 2)), 0, N'8871 Likins Ave.', N'Emily Brown', N'208-555-0143')
INSERT [dbo].[borrowers] ([id], [card_id], [ssn], [first_name], [last_name], [address], [phone], [birthdate], [card_issuedate], [balancedue], [isexpired], [lg_address], [lg_name], [lg_phoneNumber]) VALUES (2, 2, N'373-31-6878', N'Lowell', N'Diaz', N'5452 Corte Gilberto', N'241-85-2006 ', CAST(N'1971-07-24' AS Date), CAST(N'2018-01-11' AS Date), CAST(7.30 AS Decimal(6, 2)), 0, NULL, NULL, NULL)
INSERT [dbo].[borrowers] ([id], [card_id], [ssn], [first_name], [last_name], [address], [phone], [birthdate], [card_issuedate], [balancedue], [isexpired], [lg_address], [lg_name], [lg_phoneNumber]) VALUES (3, 3, N'334-72-9174', N'Joshua', N'Shen', N'7538 Sherry Circle', N'517-11-4000 ', CAST(N'1978-01-29' AS Date), CAST(N'2013-08-24' AS Date), CAST(8.00 AS Decimal(6, 2)), 0, NULL, NULL, NULL)
GO
INSERT [dbo].[branchs] ([branch_id], [name], [address], [phone], [fax]) VALUES (1, N'Brooklyn', N'10 Grand Army Plaza', N'718-230-2100', NULL)
INSERT [dbo].[branchs] ([branch_id], [name], [address], [phone], [fax]) VALUES (2, N'Central Valley', N'8871 Likins Ave.', N'999-555-0198', NULL)
INSERT [dbo].[branchs] ([branch_id], [name], [address], [phone], [fax]) VALUES (3, N'Cheektowaga', N'7779 Merry Drive', N'999-555-0183', NULL)
GO
INSERT [dbo].[category] ([type_id], [type]) VALUES (1, N'Fiction')
INSERT [dbo].[category] ([type_id], [type]) VALUES (2, N'Mystery')
INSERT [dbo].[category] ([type_id], [type]) VALUES (3, N'Science fiction')
GO
INSERT [dbo].[degrees] ([id], [name]) VALUES (1, N'Bachelors Degree in Library Science')
INSERT [dbo].[degrees] ([id], [name]) VALUES (2, N'Masters Degree in Library Science')
INSERT [dbo].[degrees] ([id], [name]) VALUES (3, N'Online Masters of Library Science')
GO
INSERT [dbo].[discounts] ([discounttype], [stor_id], [lowqty], [highqty], [discount]) VALUES (N'Initial Customer', NULL, NULL, NULL, CAST(10.50 AS Decimal(4, 2)))
INSERT [dbo].[discounts] ([discounttype], [stor_id], [lowqty], [highqty], [discount]) VALUES (N'Volume Discount', NULL, 100, 1000, CAST(6.70 AS Decimal(4, 2)))
INSERT [dbo].[discounts] ([discounttype], [stor_id], [lowqty], [highqty], [discount]) VALUES (N'Customer Discount', N'8042', NULL, NULL, CAST(5.00 AS Decimal(4, 2)))
GO
INSERT [dbo].[employee_type] ([id], [type]) VALUES (1, N'Librarian')
INSERT [dbo].[employee_type] ([id], [type]) VALUES (2, N'Network Administrator')
INSERT [dbo].[employee_type] ([id], [type]) VALUES (3, N'Computer Programmer')
GO
INSERT [dbo].[employees] ([employee_id], [first_name], [last_name], [address], [homephone], [cellphone], [salary_type], [salary], [birthdate], [hiredate], [vacation_hours], [degree_id], [school_id], [branch_id], [ishead_librarian], [employee_type_id], [degreedate], [isActive]) VALUES (1, N'Tammy', N'Williams', N'7072 Meadow Lane', N'925-66-7082 ', N'963-43-4339 ', N'S', CAST(70000 AS Decimal(6, 0)), CAST(N'1973-08-04' AS Date), CAST(N'2015-01-20' AS Date), 154, 1, 1, 1, 0, 1, CAST(N'2012-04-09' AS Date), 1)
INSERT [dbo].[employees] ([employee_id], [first_name], [last_name], [address], [homephone], [cellphone], [salary_type], [salary], [birthdate], [hiredate], [vacation_hours], [degree_id], [school_id], [branch_id], [ishead_librarian], [employee_type_id], [degreedate], [isActive]) VALUES (2, N'Charles', N'Doe', N'Po Box 25484', N'649-50-4581 ', N'166-20-1609 ', N'S', CAST(90000 AS Decimal(6, 0)), CAST(N'1975-03-17' AS Date), CAST(N'2019-09-04' AS Date), 114, 2, 2, 1, 1, 1, CAST(N'2014-06-06' AS Date), 1)
INSERT [dbo].[employees] ([employee_id], [first_name], [last_name], [address], [homephone], [cellphone], [salary_type], [salary], [birthdate], [hiredate], [vacation_hours], [degree_id], [school_id], [branch_id], [ishead_librarian], [employee_type_id], [degreedate], [isActive]) VALUES (3, N'Sarah', N'Taylor', N'8474 Haynes Court', N'175-67-9063 ', N'213-57-2363 ', N'S', CAST(70000 AS Decimal(6, 0)), CAST(N'1980-12-25' AS Date), CAST(N'2019-04-19' AS Date), 114, 1, 2, 2, 0, 1, CAST(N'2013-01-01' AS Date), 1)
GO
INSERT [dbo].[pub_info] ([pub_id], [logo], [pr_info]) VALUES (N'0736', NULL, N'This is sample text data for New Moon Books, publisher 0736 in the pubs database. New Moon Books is located in Boston USA.')
INSERT [dbo].[pub_info] ([pub_id], [logo], [pr_info]) VALUES (N'0877', NULL, N'This is sample text data for Binnet & Hardley, publisher 0877 in the pubs database. Binnet & Hardley is located in Washington USA.')
INSERT [dbo].[pub_info] ([pub_id], [logo], [pr_info]) VALUES (N'1389', NULL, N'This is sample text data for Algodata Infosystems, publisher 1389 in the pubs database. Algodata Infosystems is located in Berkeley USA.')
GO
INSERT [dbo].[publishers] ([pub_id], [pub_name], [city], [state], [country]) VALUES (N'0736', N'New Moon Books', N'Boston', N'MA', N'USA')
INSERT [dbo].[publishers] ([pub_id], [pub_name], [city], [state], [country]) VALUES (N'0877', N'Binnet & Hardley', N'Washington', N'DC', N'USA')
INSERT [dbo].[publishers] ([pub_id], [pub_name], [city], [state], [country]) VALUES (N'1389', N'Algodata Infosystems', N'Berkeley', N'CA', N'USA')
GO
INSERT [dbo].[sales] ([stor_id], [ord_num], [ord_date], [qty], [payterms], [title_id]) VALUES (N'6380', N'6871', CAST(N'1994-09-14T00:00:00.000' AS DateTime), 5, N'Net 60', N'BU1032')
INSERT [dbo].[sales] ([stor_id], [ord_num], [ord_date], [qty], [payterms], [title_id]) VALUES (N'6380', N'722a', CAST(N'1994-09-13T00:00:00.000' AS DateTime), 3, N'Net 60', N'PS2091')
INSERT [dbo].[sales] ([stor_id], [ord_num], [ord_date], [qty], [payterms], [title_id]) VALUES (N'7066', N'A2976', CAST(N'1993-05-24T00:00:00.000' AS DateTime), 50, N'Net 30', N'PC8888')
GO
INSERT [dbo].[schools] ([id], [name]) VALUES (1, N'Touro University')
INSERT [dbo].[schools] ([id], [name]) VALUES (2, N'University of North Carolina at Chapel Hill')
INSERT [dbo].[schools] ([id], [name]) VALUES (3, N'University of Washington')
GO
INSERT [dbo].[stores] ([stor_id], [stor_name], [stor_address], [city], [state], [zip]) VALUES (N'6380', N'Eric the Read Books', N'788 Catamaugus Ave.', N'Seattle', N'WA', N'98056')
INSERT [dbo].[stores] ([stor_id], [stor_name], [stor_address], [city], [state], [zip]) VALUES (N'7066', N'Barnum''s', N'567 Pasadena Ave.', N'Tustin', N'CA', N'92789')
INSERT [dbo].[stores] ([stor_id], [stor_name], [stor_address], [city], [state], [zip]) VALUES (N'7067', N'News & Brews', N'577 First St.', N'Los Gatos', N'CA', N'96745')
GO
INSERT [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'172-32-1176', N'PS3333', 1, 100)
INSERT [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'182-52-8743', N'BT6646', 1, 100)
INSERT [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'182-52-8743', N'GU4539', 1, 100)
GO
INSERT [dbo].[titlecategory] ([id], [title_id], [title_type_id]) VALUES (59, N'BT6646', 2)
INSERT [dbo].[titlecategory] ([id], [title_id], [title_type_id]) VALUES (60, N'GU4539', 2)
INSERT [dbo].[titlecategory] ([id], [title_id], [title_type_id]) VALUES (61, N'LS2238', 2)
GO
INSERT [dbo].[titles] ([title_id], [title], [pub_id], [price], [advance], [royalty], [ytd_sales], [notes], [pubdate], [prequel_id], [ISBN]) VALUES (N'BL4371', N'Modern Computer Algebra', N'9912', 100.0000, 50000.0000, 10, 10000, N'Computer algebra systems are now ubiquitous in all areas of science and engineering. This highly successful textbook, widely regarded as the bible of computer algebra, gives a thorough introduction to the algorithmic basis of the mathematical engine in computer algebra systems.', CAST(N'2013-01-01T00:00:00.000' AS DateTime), NULL, N'999-0-999-99999-9')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [aunmind]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE NONCLUSTERED INDEX [aunmind] ON [dbo].[authors]
(
	[au_lname] ASC,
	[au_fname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__borrower__BDF201DCC7A08539]    Script Date: 4/24/2022 7:57:09 PM ******/
ALTER TABLE [dbo].[borrowers] ADD  CONSTRAINT [UQ__borrower__BDF201DCC7A08539] UNIQUE NONCLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__borrower__DDDF0AE61D07F526]    Script Date: 4/24/2022 7:57:09 PM ******/
ALTER TABLE [dbo].[borrowers] ADD  CONSTRAINT [UQ__borrower__DDDF0AE61D07F526] UNIQUE NONCLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [titleidind]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE NONCLUSTERED INDEX [titleidind] ON [dbo].[sales]
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auidind]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE NONCLUSTERED INDEX [auidind] ON [dbo].[titleauthor]
(
	[au_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [titleidind]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE NONCLUSTERED INDEX [titleidind] ON [dbo].[titleauthor]
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [titleind]    Script Date: 4/24/2022 7:57:09 PM ******/
CREATE NONCLUSTERED INDEX [titleind] ON [dbo].[titles]
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[authors] ADD  CONSTRAINT [DF__authors__phone__25869641]  DEFAULT ('UNKNOWN') FOR [phone]
GO
ALTER TABLE [dbo].[bookcopies] ADD  CONSTRAINT [DF__bookcopie__isava__6166761E]  DEFAULT ((1)) FOR [isavailable]
GO
ALTER TABLE [dbo].[bookcopies] ADD  CONSTRAINT [DF__bookcopie__isact__625A9A57]  DEFAULT ((1)) FOR [isactive]
GO
ALTER TABLE [dbo].[bookcopy_history] ADD  CONSTRAINT [DF__bookcopy___creat__5D95E53A]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[books_borrowed] ADD  CONSTRAINT [DF__books_bor__borro__690797E6]  DEFAULT (getdate()) FOR [borroweddate]
GO
ALTER TABLE [dbo].[books_borrowed] ADD  CONSTRAINT [DF__books_bor__dueda__69FBBC1F]  DEFAULT (getdate()+(14)) FOR [duedate]
GO
ALTER TABLE [dbo].[books_borrowed] ADD  CONSTRAINT [DF__books_bor__isRet__6AEFE058]  DEFAULT ((0)) FOR [isReturned]
GO
ALTER TABLE [dbo].[borrowers] ADD  CONSTRAINT [DF__borrowers__isexp__4F47C5E3]  DEFAULT ((0)) FOR [isexpired]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF__librarian__hired__395884C4]  DEFAULT (getdate()) FOR [hiredate]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF__librarian__vacat__3A4CA8FD]  DEFAULT ((112)) FOR [vacation_hours]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF__librarian__ishea__3E1D39E1]  DEFAULT ((0)) FOR [ishead_librarian]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF__employees__isAct__03BB8E22]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[paychecks] ADD  CONSTRAINT [DF__paychecks__creat__498EEC8D]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[publishers] ADD  CONSTRAINT [DF__publisher__count__2A4B4B5E]  DEFAULT ('USA') FOR [country]
GO
ALTER TABLE [dbo].[shift_logs] ADD  CONSTRAINT [DF__shift_log__shift__45BE5BA9]  DEFAULT (getdate()) FOR [shiftdate]
GO
ALTER TABLE [dbo].[titles] ADD  CONSTRAINT [DF__titles__pubdate__2F10007B]  DEFAULT (getdate()) FOR [pubdate]
GO
ALTER TABLE [dbo].[titles] ADD  CONSTRAINT [DF__titles__ISBN__2B0A656D]  DEFAULT ('999-0-999-99999-9') FOR [ISBN]
GO
ALTER TABLE [dbo].[bookcopies]  WITH CHECK ADD  CONSTRAINT [FK_branchs_bookcopies] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branchs] ([branch_id])
GO
ALTER TABLE [dbo].[bookcopies] CHECK CONSTRAINT [FK_branchs_bookcopies]
GO
ALTER TABLE [dbo].[bookcopies]  WITH CHECK ADD  CONSTRAINT [FK_titles_bookcopies] FOREIGN KEY([title_id])
REFERENCES [dbo].[titles] ([title_id])
GO
ALTER TABLE [dbo].[bookcopies] CHECK CONSTRAINT [FK_titles_bookcopies]
GO
ALTER TABLE [dbo].[bookcopy_history]  WITH CHECK ADD  CONSTRAINT [FK_bookcopyhistory_bookcopies] FOREIGN KEY([copy_id])
REFERENCES [dbo].[bookcopies] ([copy_id])
GO
ALTER TABLE [dbo].[bookcopy_history] CHECK CONSTRAINT [FK_bookcopyhistory_bookcopies]
GO
ALTER TABLE [dbo].[books_borrowed]  WITH CHECK ADD  CONSTRAINT [FK_booksborrowed_bookcopies] FOREIGN KEY([copy_id])
REFERENCES [dbo].[bookcopies] ([copy_id])
GO
ALTER TABLE [dbo].[books_borrowed] CHECK CONSTRAINT [FK_booksborrowed_bookcopies]
GO
ALTER TABLE [dbo].[books_borrowed]  WITH CHECK ADD  CONSTRAINT [FK_booksborrowed_borrowers] FOREIGN KEY([card_id])
REFERENCES [dbo].[borrowers] ([card_id])
GO
ALTER TABLE [dbo].[books_borrowed] CHECK CONSTRAINT [FK_booksborrowed_borrowers]
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD  CONSTRAINT [FK__discounts__stor___3C69FB99] FOREIGN KEY([stor_id])
REFERENCES [dbo].[stores] ([stor_id])
GO
ALTER TABLE [dbo].[discounts] CHECK CONSTRAINT [FK__discounts__stor___3C69FB99]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_branchs_librarians] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branchs] ([branch_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_branchs_librarians]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_degrees_librarians] FOREIGN KEY([degree_id])
REFERENCES [dbo].[degrees] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_degrees_librarians]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employeetype_librarians] FOREIGN KEY([employee_type_id])
REFERENCES [dbo].[employee_type] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employeetype_librarians]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_schools_librarians] FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_schools_librarians]
GO
ALTER TABLE [dbo].[paychecks]  WITH CHECK ADD  CONSTRAINT [FK_librarians_paychecks] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[paychecks] CHECK CONSTRAINT [FK_librarians_paychecks]
GO
ALTER TABLE [dbo].[pub_info]  WITH CHECK ADD  CONSTRAINT [FK__pub_info__pub_id__440B1D61] FOREIGN KEY([pub_id])
REFERENCES [dbo].[publishers] ([pub_id])
GO
ALTER TABLE [dbo].[pub_info] CHECK CONSTRAINT [FK__pub_info__pub_id__440B1D61]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK__sales__stor_id__37A5467C] FOREIGN KEY([stor_id])
REFERENCES [dbo].[stores] ([stor_id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK__sales__stor_id__37A5467C]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK__sales__title_id__38996AB5] FOREIGN KEY([title_id])
REFERENCES [dbo].[titles] ([title_id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK__sales__title_id__38996AB5]
GO
ALTER TABLE [dbo].[shift_logs]  WITH CHECK ADD  CONSTRAINT [FK_librarians_shiftlogs] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[shift_logs] CHECK CONSTRAINT [FK_librarians_shiftlogs]
GO
ALTER TABLE [dbo].[titleauthor]  WITH CHECK ADD  CONSTRAINT [FK__titleauth__au_id__31EC6D26] FOREIGN KEY([au_id])
REFERENCES [dbo].[authors] ([au_id])
GO
ALTER TABLE [dbo].[titleauthor] CHECK CONSTRAINT [FK__titleauth__au_id__31EC6D26]
GO
ALTER TABLE [dbo].[titleauthor]  WITH CHECK ADD  CONSTRAINT [FK__titleauth__title__32E0915F] FOREIGN KEY([title_id])
REFERENCES [dbo].[titles] ([title_id])
GO
ALTER TABLE [dbo].[titleauthor] CHECK CONSTRAINT [FK__titleauth__title__32E0915F]
GO
ALTER TABLE [dbo].[titlecategory]  WITH CHECK ADD  CONSTRAINT [FK_Titlecategory_Category] FOREIGN KEY([title_type_id])
REFERENCES [dbo].[category] ([type_id])
GO
ALTER TABLE [dbo].[titlecategory] CHECK CONSTRAINT [FK_Titlecategory_Category]
GO
ALTER TABLE [dbo].[titlecategory]  WITH CHECK ADD  CONSTRAINT [FK_TitleCategory_Titles] FOREIGN KEY([title_id])
REFERENCES [dbo].[titles] ([title_id])
GO
ALTER TABLE [dbo].[titlecategory] CHECK CONSTRAINT [FK_TitleCategory_Titles]
GO
ALTER TABLE [dbo].[titles]  WITH CHECK ADD  CONSTRAINT [FK__titles__pub_id__2E1BDC42] FOREIGN KEY([pub_id])
REFERENCES [dbo].[publishers] ([pub_id])
GO
ALTER TABLE [dbo].[titles] CHECK CONSTRAINT [FK__titles__pub_id__2E1BDC42]
GO
ALTER TABLE [dbo].[titles]  WITH CHECK ADD  CONSTRAINT [FK__titles__pub_id__5AEE82B9] FOREIGN KEY([pub_id])
REFERENCES [dbo].[publishers] ([pub_id])
GO
ALTER TABLE [dbo].[titles] CHECK CONSTRAINT [FK__titles__pub_id__5AEE82B9]
GO
ALTER TABLE [dbo].[authors]  WITH CHECK ADD  CONSTRAINT [CK__authors__au_id__24927208] CHECK  (([au_id] like '[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[authors] CHECK CONSTRAINT [CK__authors__au_id__24927208]
GO
ALTER TABLE [dbo].[authors]  WITH CHECK ADD  CONSTRAINT [CK__authors__zip__267ABA7A] CHECK  (([zip] like '[0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[authors] CHECK CONSTRAINT [CK__authors__zip__267ABA7A]
GO
ALTER TABLE [dbo].[bookcopies]  WITH CHECK ADD  CONSTRAINT [CK__bookcopie__condi__09746778] CHECK  (([condition]='NEW' OR [condition]='EXCELLENT' OR [condition]='GOOD' OR [condition]='WORN' OR [condition]='POOR' OR [condition]='LOST'))
GO
ALTER TABLE [dbo].[bookcopies] CHECK CONSTRAINT [CK__bookcopie__condi__09746778]
GO
ALTER TABLE [dbo].[bookcopies]  WITH CHECK ADD  CONSTRAINT [CK__bookcopie__condi__65370702] CHECK  (([condition]='NEW' OR [condition]='EXCELLENT' OR [condition]='GOOD' OR [condition]='WORN' OR [condition]='POOR'))
GO
ALTER TABLE [dbo].[bookcopies] CHECK CONSTRAINT [CK__bookcopie__condi__65370702]
GO
ALTER TABLE [dbo].[publishers]  WITH CHECK ADD  CONSTRAINT [CK__publisher__pub_i__29572725] CHECK  (([pub_id]='1756' OR [pub_id]='1622' OR [pub_id]='0877' OR [pub_id]='0736' OR [pub_id]='1389' OR [pub_id] like '99[0-9][0-9]'))
GO
ALTER TABLE [dbo].[publishers] CHECK CONSTRAINT [CK__publisher__pub_i__29572725]
GO
ALTER TABLE [dbo].[titles]  WITH CHECK ADD  CONSTRAINT [CK__titles__ISBN__2BFE89A6] CHECK  (([ISBN] like '[0-9][0-9][0-9]-[0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9][0-9]-[0-9]'))
GO
ALTER TABLE [dbo].[titles] CHECK CONSTRAINT [CK__titles__ISBN__2BFE89A6]
GO
/****** Object:  StoredProcedure [dbo].[byroyalty]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[byroyalty] @percentage int
AS
select au_id from titleauthor
where titleauthor.royaltyper = @percentage

GO
/****** Object:  StoredProcedure [dbo].[reptq1]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq1] AS
select 
	case when grouping(pub_id) = 1 then 'ALL' else pub_id end as pub_id, 
	avg(price) as avg_price
from titles
where price is NOT NULL
group by pub_id with rollup
order by pub_id

GO
/****** Object:  StoredProcedure [dbo].[reptq2]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq2] AS
select 
	case when grouping(type) = 1 then 'ALL' else type end as type, 
	case when grouping(pub_id) = 1 then 'ALL' else pub_id end as pub_id, 
	avg(ytd_sales) as avg_ytd_sales
from titles
where pub_id is NOT NULL
group by pub_id, type with rollup

GO
/****** Object:  StoredProcedure [dbo].[reptq3]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq3] @lolimit money, @hilimit money,
@type char(12)
AS
select 
	case when grouping(pub_id) = 1 then 'ALL' else pub_id end as pub_id, 
	case when grouping(type) = 1 then 'ALL' else type end as type, 
	count(title_id) as cnt
from titles
where price >@lolimit AND price <@hilimit AND type = @type OR type LIKE '%cook%'
group by pub_id, type with rollup

GO
/****** Object:  StoredProcedure [dbo].[USP_BorrowBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

    Rules for borrowing a book:
    - Any reading item that is categorized as reference may not be borrowed.
    - Copies that are in POOR condition may not be borrowed.
    - When a book copy is borrowed, the copy is marked as BORROWED. BORROWED copies may not be borrowed.
    - A borrower can not use a card to borrow books, if he owes more than 10 dollars on that card.

*/


CREATE PROCEDURE [dbo].[USP_BorrowBook] 
    @copy_id AS INT,
    @card_id AS INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION
            --#region Check if copy is of type Reference
            IF EXISTS(
                SELECT TOP 1 1 
                FROM titlecategory tc
                JOIN bookcopies bc ON bc.title_id = tc.title_id
                WHERE bc.copy_id = @copy_id AND tc.title_type_id = (SELECT type_id FROM category c WHERE c.[type] = 'Reference')
            )
                BEGIN
                    RAISERROR('Copy of type Reference can not be borrowed.', 16, 1) 
                END
            --#endregion
            --#region Check if copy is in POOR 
            IF EXISTS (
                SELECT copy_id
                FROM bookcopies 
                WHERE condition = 'POOR' AND copy_id = @copy_id
            )
                BEGIN
                    RAISERROR('Copies in POOR condition can not be borrowed.', 16, 1) 
                END
            --#endregion
            --#region Check if copy is BORROWED or Discarded
            IF EXISTS (
                SELECT copy_id
                FROM bookcopies 
                WHERE (isactive = 0 OR isavailable = 0) AND copy_id = @copy_id
            )
                BEGIN
                    RAISERROR('Copies that are Discarded or already Borrowed can not be borrowed.', 16, 1) 
                END
            --#endregion
            --#region Check if borrower is available to borrow a book
            IF EXISTS (
                SELECT * 
                FROM borrowers 
                WHERE card_id = @card_id AND (isexpired = 1 OR balancedue >= 10)
            )
                BEGIN
                    RAISERROR('Either borrowers card expired or borrower owes over 10 dollars.', 16, 1) 
                END
            --#endregion
            UPDATE bookcopies SET isavailable = 0 WHERE copy_id = @copy_id
            DECLARE @id INT = (SELECT MAX(id) + 1 FROM books_borrowed)
            INSERT INTO books_borrowed 
            VALUES 
            (
                ISNULL(@id,1),
                @copy_id,
                @card_id,
                GETDATE(),
                GETDATE() + 14,
                0
            )
            PRINT('Book Has Been Sucessfully Borrowed')
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END



declare @cardid int = (select top 1 card_id from borrowers where isexpired = 0 and balancedue < 10 order by NEWID())
declare @copyid int = (select top 1 copy_id from bookcopies where isavailable = 1 and isactive = 1 and title_id <> 'BL4371' order by newid())


EXEC USP_BorrowBook @copy_id = @copyid, @card_id = @cardid


select * from bookcopies where branch_id = 1
select * from books_borrowed


select * from borrowers where DATEDIFF(yy,card_issuedate,GETDATE()) >= 10

declare @branchid int = 1
declare @copid int = (select max(copy_id) + 1 from bookcopies)
declare @tid dbo.tid = (select top 1 title_id from titles where title_id not in (select title_id from bookcopies where branch_id = @branchid and isactive =1))
declare @condition VARCHAR(10) 
SET @condition = 'NEW'
insert into bookcopies values(@copid, @tid, @branchid, @condition,1,1)


GO
/****** Object:  StoredProcedure [dbo].[USP_CreateAuthor]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 17.04.2022
*/

CREATE PROCEDURE [dbo].[USP_CreateAuthor]
     @au_lname VARCHAR(40)
    ,@au_fname VARCHAR(20)
    ,@au_phone CHAR(12) = '000 000-0000'
    ,@au_address VARCHAR(250) = NULL
    ,@au_city VARCHAR(20) = NULL
    ,@au_state CHAR(2) = NULL
    ,@au_zip CHAR(5) = NULL
    ,@au_contract BIT = 0
AS
BEGIN
    BEGIN TRY
        DECLARE @au_id dbo.tid 
        -- Generate Random AuthorID using USP_GenerateRandomAuthorId stored procedure
        EXEC USP_GenerateRandomAuthorId @au_id OUTPUT

        INSERT INTO authors 
        VALUES
        (
             @au_id
            ,@au_lname
            ,@au_fname
            ,@au_phone
            ,@au_address
            ,@au_city
            ,@au_state
            ,@au_zip
            ,@au_contract
        ) 
    END TRY 
    BEGIN CATCH
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CreateBorrower]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Rules for creating a card for borrower
    - A person can have only one valid library card at a given time.
    - A person can’t be issued a new library card, if he owes money on an expired card.

*/

CREATE PROCEDURE [dbo].[USP_CreateBorrower]
     @ssn VARCHAR(11)
    ,@fname VARCHAR(100)
    ,@lname VARCHAR(100)
    ,@address VARCHAR(200)
    ,@phone CHAR(12)
    ,@birthdate DATE
    ,@lg_address VARCHAR(200) = NULL
    ,@lg_name VARCHAR(100) = NULL 
    ,@lg_phone VARCHAR(12) = NULL
AS
BEGIN
    BEGIN TRY
        -- Check if borrower has an active card  
        IF EXISTS (SELECT TOP 1 1 FROM borrowers WHERE ssn = @ssn AND isexpired = 0)
            BEGIN 
                RAISERROR('A person already has an active card.', 16, 1) 
            END

         -- Check if borrower has an a balancedue on expired card 
        IF EXISTS (SELECT TOP 1 1 FROM borrowers WHERE ssn = @ssn AND isexpired = 1 AND balancedue > 0)
            BEGIN 
                RAISERROR('A person owes library from previous card.', 16, 1) 
            END
        
        DECLARE @id INT = (SELECT MAX(id) + 1 FROM borrowers)
        DECLARE @cardid INT = (SELECT MAX(card_id) + 1 FROM borrowers)

        -- validation of legal guardian details should be on the front-end 

        INSERT INTO borrowers 
        VALUES
        (
             ISNULL(@id,1) -- if first time 
            ,ISNULL(@cardid,1) -- if first time 
            ,@ssn  
            ,@fname 
            ,@lname 
            ,@address 
            ,@phone   
            ,@birthdate 
            ,GETDATE() 
            ,0 -- initial balance  
            ,0 -- default value
            ,@lg_address 
            ,@lg_name
            ,@lg_phone
        ) 
    END TRY 
    BEGIN CATCH
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CreateEmployee]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Created by Nury Amanmadov
    Date created: 11.04.2022
*/

CREATE PROCEDURE [dbo].[USP_CreateEmployee]
     @pub_id AS CHAR(4)
    ,@emp_firstname AS VARCHAR(255) = NULL
    ,@emp_minit AS VARCHAR(255) = NULL 
    ,@emp_lastname AS VARCHAR(255) = NULL
    ,@emp_job_id AS INT = NULL
    ,@emp_job_lvl AS INT = NULL
    ,@emp_hire_date AS DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY 
        BEGIN TRANSACTION
            --#region Insert into Employee Table

                --#region Create Random Id for Emp_id
                    -- Emp Id pattern: '[A-Z][A-Z][A-Z][1-9][0-9][0-9][0-9][0-9][FM]'
                    DECLARE @random_emp_id AS dbo.empid
                    DECLARE @l1 AS CHAR(1) = (SELECT SUBSTRING('ABCDEFGHIJKLMNOPQRSTUVWXYZ',(ABS(CHECKSUM(NEWID())) % 26) + 1, 1))
                    DECLARE @l2 AS CHAR(1) = (SELECT SUBSTRING('ABCDEFGHIJKLMNOPQRSTUVWXYZ',(ABS(CHECKSUM(NEWID())) % 26) + 1, 1))
                    DECLARE @l3 AS CHAR(1) = (SELECT SUBSTRING('ABCDEFGHIJKLMNOPQRSTUVWXYZ',(ABS(CHECKSUM(NEWID())) % 26) + 1, 1))
                    DECLARE @l4 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-1+1)+1)) AS CHAR)))
                    DECLARE @l5 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-0+1)+0)) AS CHAR)))
                    DECLARE @l6 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-0+1)+0)) AS CHAR)))
                    DECLARE @l7 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-0+1)+0)) AS CHAR)))
                    DECLARE @l8 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-0+1)+0)) AS CHAR)))
                    DECLARE @l9 AS CHAR(1) = (SELECT((SUBSTRING('FM',(ABS(CHECKSUM(NEWID())) % 2) + 1, 1))))
                    SET @random_emp_id = (SELECT @l1 + @l2 + @l3 + @l4 + @l5 + @l6 + @l7 + @l8 + @l9)
                    -- PRINT('EmpID with value: '+ CAST(@random_emp_id AS VARCHAR) + ' is created.')
                --#endregion

                -- Using Person table on AdventureWorks DB we can generate random names for employee
                IF (@emp_firstname IS NULL) 
                    SET @emp_firstname = (SELECT TOP 1 LEFT(p.FirstName,20) FROM AdventureWorks.Person.Person p ORDER BY NEWID())
                
                IF (@emp_minit IS NULL) 
                    SET @emp_minit = (SELECT TOP 1 LEFT(p.MiddleName,1) FROM AdventureWorks.Person.Person p WHERE p.MiddleName IS NOT NULL ORDER BY NEWID())
                
                IF (@emp_lastname IS NULL) 
                    SET @emp_lastname = (SELECT TOP 1 LEFT(p.LastName,30) FROM AdventureWorks.Person.Person p ORDER BY NEWID())
                
                -- Using jobs table we can get random job id if given @emp_job_id is null
                IF (@emp_job_id IS NULL)
                    SET @emp_job_id =   (SELECT TOP 1 job_id FROM [pubs].[dbo].[jobs] j ORDER BY NEWID())
                
                -- Using jobs table we can get random job level between max_lvl and min_lvl of the generated @emp_job_id
                IF (@emp_job_lvl IS NULL)
                    SET @emp_job_lvl = (SELECT TOP 1 FLOOR(RAND() * (max_lvl - min_lvl + 1) + min_lvl) FROM [pubs].[dbo].[jobs] WHERE job_id = @emp_job_id ORDER BY NEWID())
                
                -- Using Employee table on AdventureWorks DB we can generate random hiredate for employee
                IF (@emp_hire_date IS NULL)
                    SET @emp_hire_date = (SELECT TOP 1 CAST(e.HireDate AS DATETIME) FROM AdventureWorks.HumanResources.Employee e ORDER BY NEWID())

                INSERT INTO [pubs].[dbo].[employee] 
                VALUES (
                             @random_emp_id
                            ,@emp_firstname
                            ,@emp_minit
                            ,@emp_lastname
                            ,@emp_job_id
                            ,@emp_job_lvl
                            ,@pub_id
                            ,@emp_hire_date
                        )
            --#endregion
            PRINT('Employee Has Been Sucessfully Added')
        COMMIT TRANSACTION
    END TRY  
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END 



/*


EXEC USP_CreateEmployee 1756
EXEC USP_CreateEmployee 1756, 'Nury'
EXEC USP_CreateEmployee 1756, 'Nury', 'A'
EXEC USP_CreateEmployee 1756, 'Nury', 'A', 'Amanmadov'

SELECT * FROM Employee WHERE pub_id = 1756 AND emp_id <> 'MJP25939M'
DELETE FROM Employee WHERE pub_id = 1756 AND emp_id <> 'MJP25939M'


*/
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Created by Nury Amanmadov
Date created: 16.04.2022

Rule for deleting a book  
    - Publisher related to that title will not be deleted
    - PublisherInfo related to the Publisher of that title will not be deleted
    - Author related to that title will not be deleted 
    - Records related to that title from Titles and TitleAuthor tables will be deleted 

Because there are publishers without any title on the initial database created by Microsoft (ex: pub_id with 1622 and 1756)

SELECT DISTINCT pub_id 
FROM publishers 
WHERE pub_id NOT IN 
(
    SELECT DISTINCT pub_id FROM titles 
)

*/

CREATE PROCEDURE [dbo].[USP_DeleteBook]
    @title_id dbo.tid,
    @au_id dbo.id
AS
BEGIN
    BEGIN TRY 
        BEGIN TRANSACTION
            DELETE FROM titles WHERE title_id = @title_id
            DELETE FROM titleauthor WHERE title_id = @title_id and au_id = @au_id
            PRINT('Book Has Been Sucessfully Deleted')
        COMMIT TRANSACTION
    END TRY 
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DiscardBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_DiscardBook]
    @copy_id INT
AS 
BEGIN 
    -- Check if copy_id is valid
    IF NOT EXISTS(SELECT TOP 1 1 FROM bookcopies WHERE copy_id = @copy_id)
        BEGIN 
            RAISERROR('Book copy with provided ID does not exist', 16, 1)
        END 

    -- Check if book is returned
    IF EXISTS(SELECT TOP 1 1 FROM bookcopies WHERE copy_id = @copy_id AND isavailable = 0)
        BEGIN 
            RAISERROR('Book copy with provided ID has not been returned', 16, 1)
        END 

    -- Check if book has not been discarded
    IF EXISTS(SELECT TOP 1 1 FROM bookcopies WHERE copy_id = @copy_id AND isactive = 0)
        BEGIN 
            RAISERROR('Book copy with provided ID has been already discarded', 16, 1)
        END  

    UPDATE bookcopies SET isavailable = 0, isactive = 0, condition = 'POOR' WHERE copy_id = @copy_id  
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DiscardLostBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_DiscardLostBook] 
    @copy_id AS INT,
    @card_id AS INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION
            --#region Check borrowed book exists
            IF NOT EXISTS(SELECT TOP 1 1 FROM books_borrowed WHERE card_id = @card_id AND copy_id = @copy_id AND isReturned = 0)
            BEGIN
                RAISERROR('There is no borrowed book with the given details.', 16, 1) 
            END
            --#endregion
            DECLARE @id INT = (SELECT id FROM books_borrowed WHERE card_id = @card_id AND copy_id = @copy_id AND isReturned = 0)
            DECLARE @daysElapsed INT = (SELECT DATEDIFF(DD,borroweddate,GETDATE()) FROM books_borrowed WHERE id = @id)
            
            -- Set isReturned to true
            UPDATE books_borrowed SET isReturned = 1, returndate = GETDATE() WHERE id = @id
            -- Set condition to LOST
            UPDATE bookcopies SET condition = 'LOST',isavailable = 0, isactive = 0 WHERE copy_id = @copy_id
            DECLARE @i INT = (SELECT MAX(id) + 1 FROM bookcopy_history)
            --Insert note to book history table
            INSERT INTO bookcopy_history 
            VALUES
            (
                ISNULL(@i,1),
                @copy_id,
                'Book with id:' + @copy_id + ' has been lost by user with cardid: ' + @card_id,
                GETDATE()
            )
            
            DECLARE @pr DECIMAL(6,2)
            IF(@daysElapsed > 14)
                BEGIN 
                    DECLARE @typeId INT = (SELECT tc.title_type_id FROM bookcopies bc JOIN titlecategory tc ON tc.title_id = bc.title_id WHERE copy_id = @copy_id)
                    -- Check if Juvenile
                    IF(@typeId = 4)
                        BEGIN 
                            SET @pr = .05
                        END 
                    ELSE 
                        BEGIN
                            SET @pr = .10 
                        END
                    --Update card balancedue 
                    UPDATE borrowers SET balancedue = balancedue + (@pr * @daysElapsed) WHERE card_id = @card_id
                END
        
            PRINT('Book Has Been Sucessfully discarded as LOST.')
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ExpireLibraryCards]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_ExpireLibraryCards]
AS 
BEGIN 
    UPDATE borrowers SET isexpired = 1
    WHERE DATEDIFF(YY,card_issuedate,GETDATE()) >= 10
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GenerateRandomAuthorId]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 16.04.2022 (ddMMyyyy)
*/

CREATE PROCEDURE [dbo].[USP_GenerateRandomAuthorId]
    @author_id VARCHAR(11) OUTPUT
AS
BEGIN
    DECLARE @a1 AS CHAR(3) = (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))
    DECLARE @a2 AS CHAR(2) = (SELECT(CAST((FLOOR(RAND()*(99-10+1)+10)) AS CHAR)))
    DECLARE @a3 AS CHAR(4) = (SELECT(CAST((FLOOR(RAND()*(9999-1000+1)+1000)) AS CHAR)))
    SELECT @author_id = (SELECT @a1 + '-' + @a2 + '-' + @a3)
END

/*

DECLARE @id varchar(11) 
EXEC USP_GenerateRandomAuthorId @id OUTPUT
PRINT('Generated Random Id: ' + @id)

*/
 
GO
/****** Object:  StoredProcedure [dbo].[USP_GenerateRandomDate]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenerateRandomDate]
    @birthdate DATE OUTPUT
AS
BEGIN
    DECLARE @StartDate DATE = '20110101', @EndDate DATE = '20220401'
    SET @birthdate = DATEADD(DAY,RAND(CHECKSUM(NEWID()))*(1 + DATEDIFF(DAY, @StartDate, @EndDate)), @StartDate)
    SELECT @birthdate
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GenerateRandomPhone]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenerateRandomPhone]
    @phone VARCHAR(12) OUTPUT
AS
BEGIN
    DECLARE @p1 AS CHAR(3) = (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))
    DECLARE @p2 AS CHAR(2) = (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))
    DECLARE @p3 AS CHAR(4) = (SELECT(CAST((FLOOR(RAND()*(9999-1000+1)+1000)) AS CHAR)))
    SELECT @phone = (SELECT @p1 + '-' + @p2 + '-' + @p3)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GenerateRandomSsn]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenerateRandomSsn]
    @ssn VARCHAR(11) OUTPUT
AS
BEGIN
    SELECT @ssn = (
                    CAST(CAST(100 + (898 * RAND()) AS INT) AS VARCHAR(3)) + 
                    '-' + 
                    CAST(CAST(10 + (88 * RAND()) AS INT) AS VARCHAR(2)) + 
                    '-' + 
                    CAST(CAST(1000 + (8998 * RAND()) AS INT) AS VARCHAR(4))
                  )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllAuthors]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
    Created by Nury Amanmadov
    Date created: 17.04.2022 ddMMyyyy

    Selects authors as in the form of HTML table row records 
    These records then rendered as an HTML elements on the front-end side

*/

CREATE PROCEDURE [dbo].[USP_GetAllAuthors]
AS 
BEGIN 
    SELECT TOP 20
    '<tr class="even pointer">
        <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
        <td>'+ au_id +'</td>
        <td>'+ au_fname +'</td>
        <td>'+ au_lname +'</td>
        <td>'+ ISNULL(CAST(phone AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(address AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(city AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(state AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(zip AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(contract AS VARCHAR),'NA') +'</td>
        <td class="last"><a href="#">View</a></td>
    </tr>' AS TableRow
    FROM authors a
    ORDER BY zip DESC
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllAvailableBooks]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_GetAllAvailableBooks]
AS 
BEGIN 
    SELECT *
    FROM bookcopies bc
    JOIN titles t ON t.title_id = bc.title_id
    JOIN titlecategory tc ON tc.title_id = bc.title_id
    JOIN category c ON c.type_id = tc.title_type_id
    WHERE bc.isactive = 1 AND isavailable = 1 AND c.type <> 'Reference'  
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllBooks]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
    Created by Nury Amanmadov
    Date created: 16.04.2022 ddMMyyyy

    Selects TOP 20 Book as in the form of HTML table row records 
    These records then rendered as an HTML elements on the front-end side

*/

CREATE PROCEDURE [dbo].[USP_GetAllBooks]
AS 
BEGIN 
    SELECT TOP 20
    '<tr class="even pointer">
        <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
        <td>'+ t.title_id +'</td>
        <td>'+ title +'</td>
        <td>'+ a.au_fname + ' ' + a.au_lname +'</td>
        <td>'+ p.pub_name +'</td>
        <td>'+ type +'</td>
        <td>'+ ISNULL(CAST(price AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(advance AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(royalty AS VARCHAR),'NA') +'</td>
        <td>'+ ISNULL(CAST(ytd_sales AS VARCHAR),'NA') +'</td>
        <td class="last"><a href="#">View</a></td>
    </tr>' AS TableRow
    FROM titles t 
    JOIN publishers p ON t.pub_id = p.pub_id
    JOIN titleauthor ta ON ta.title_id = t.title_id
    JOIN authors a ON a.au_id = ta.au_id
    ORDER BY p.pub_id DESC
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllContinuingBooksByTitleId]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 18.04.2022 ddMMyyyy

    Selects all the continuing books in series

*/

CREATE PROCEDURE [dbo].[USP_GetAllContinuingBooksByTitleId]
    @title_id dbo.tid
AS 
BEGIN 
    IF NOT EXISTS(SELECT TOP 1 1 FROM titles WHERE title_id = @title_id)
        BEGIN 
            RAISERROR('Book with provided ID does not exist', 16, 1)
        END

    ;WITH CTEBooks
    AS 
    (
        SELECT   title_id AS TitleId
                ,title AS Book
                ,prequel_id
                ,CAST(t1.pubdate AS DATE) AS [Publication Date]
                ,p.pub_name AS Publisher
                ,[Order In Series] = 1
        FROM titles t1
        JOIN publishers p ON p.pub_id = t1.pub_id
        WHERE title_id = @title_id

        UNION ALL

        SELECT   t2.title_id AS TitleId
                ,t2.title AS Book
                ,t2.prequel_id
                ,CAST(t2.pubdate AS DATE) AS [Publication Date]
                ,p.pub_name AS Publisher
                ,[Order In Series] + 1
        FROM titles t2
        JOIN publishers p ON p.pub_id = t2.pub_id
        JOIN CTEBooks ON t2.prequel_id = CTEBooks.TitleId
    )
    SELECT  CTEBooks.TitleId 
            ,CTEBooks.Book
            ,ISNULL(t.title, 'No Prequel') AS PrequelBook
            ,[Publication Date]
            ,a.au_fname + ' ' + a.au_lname AS Author
            ,CTEBooks.Publisher
            ,[Order In Series]
    FROM CTEBooks
    LEFT JOIN titles t ON CTEBooks.prequel_id = t.title_id
    LEFT JOIN titleauthor ta ON ta.title_id = CTEBooks.TitleId
    LEFT JOIN authors a ON a.au_id = ta.au_id

END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllEmployee]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
    Created by Nury Amanmadov
    Date created: 17.04.2022 ddMMyyyy

    Selects employees as in the form of HTML table row records 
    These records then rendered as an HTML elements on the front-end side

*/

CREATE PROCEDURE [dbo].[USP_GetAllEmployee]
AS 
BEGIN 
    SELECT TOP 100
                    '<tr class="even pointer">
                        <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                        <td>'+ e.emp_id +'</td>
                        <td>'+ e.fname +'</td>
                        <td>'+ e.lname +'</td>
                        <td>'+ j.job_desc +'</td>
                        <td>'+ CAST((e.job_lvl) AS VARCHAR) +'</td>
                        <td>'+ p.pub_name +'</td>
                        <td>'+ CAST(CAST(e.hire_date AS DATE) AS VARCHAR) +'</td>
                        <td class="last"><a href="#">View</a></td>
                    </tr>' AS TableRow
    FROM employee e 
    JOIN publishers p On p.pub_id = e.pub_id 
    JOIN jobs j ON j.job_id = e.job_id
    ORDER BY hire_date 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllPrequelBooksByTitleId]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 17.04.2022 ddMMyyyy

    Selects all the prequel book series of a given book

*/

CREATE PROCEDURE [dbo].[USP_GetAllPrequelBooksByTitleId]
    @title_id dbo.tid
AS 
BEGIN 
    IF NOT EXISTS(SELECT TOP 1 1 FROM titles WHERE title_id = @title_id)
        BEGIN 
            RAISERROR('Book with provided ID does not exist', 16, 1)
        END
    ;WITH CTEBooks
    AS 
    (
        SELECT   title_id AS TitleId
                ,title AS Book
                ,prequel_id
                ,CAST(t1.pubdate AS DATE) AS [Publication Date]
                ,p.pub_name AS Publisher
        FROM titles t1
        JOIN publishers p ON p.pub_id = t1.pub_id
        WHERE title_id = @title_id

        UNION ALL

        SELECT   t2.title_id AS TitleId
                ,t2.title AS Book
                ,t2.prequel_id
                ,CAST(t2.pubdate AS DATE) AS [Publication Date]
                ,p.pub_name AS Publisher
        FROM titles t2
        JOIN publishers p ON p.pub_id = t2.pub_id
        JOIN CTEBooks ON t2.title_id = CTEBooks.prequel_id
    )
    SELECT  CTEBooks.TitleId 
            ,CTEBooks.Book
            ,ISNULL(t.title, 'No Prequel') AS PrequelBook
            ,[Publication Date]
            ,a.au_fname + ' ' + a.au_lname AS Author
            ,CTEBooks.Publisher
    FROM CTEBooks
    LEFT JOIN titles t ON CTEBooks.prequel_id = t.title_id
    LEFT JOIN titleauthor ta ON ta.title_id = CTEBooks.TitleId
    LEFT JOIN authors a ON a.au_id = ta.au_id
END

-- EXEC USP_GetAllPrequelBooksByTitleId @title_id = 'GU4539'
-- EXEC USP_GetAllPrequelBooksByTitleId @title_id = 'ZJ4675' 
-- EXEC USP_GetAllPrequelBooksByTitleId @title_id = 'SA4547'


GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllPublishers]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
    Created by Nury Amanmadov
    Date created: 17.04.2022 ddMMyyyy

    Selects publishers as in the form of HTML table row records 
    These records then rendered as an HTML elements on the front-end side

*/

CREATE PROCEDURE [dbo].[USP_GetAllPublishers]
AS 
BEGIN 
    SELECT TOP 20
                    '<tr class="even pointer">
                        <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                        <td>'+ p.pub_id +'</td>
                        <td>'+ p.pub_name +'</td>
                        <td>'+ p.city +'</td>
                        <td>'+ ISNULL(p.[state],'NA') +'</td>
                        <td>'+ p.country +'</td>
                        <td>'+ CAST(COUNT(DISTINCT t.title_id) AS VARCHAR) +'</td>
                        <td>'+ CAST(ISNULL(SUM(t.ytd_sales),0) AS VARCHAR) +'</td>
                        <td>'+ CAST(COUNT(DISTINCT e.emp_id) AS VARCHAR) +'</td>
                        <td class="last"><a href="#">View</a></td>
                    </tr>' AS TableRow
    FROM publishers p 
    LEFT JOIN titles t ON t.pub_id = p.pub_id
    LEFT JOIN employee e ON e.pub_id = p.pub_id
    GROUP BY p.pub_id
            ,p.pub_name
            ,p.city
            ,p.[state]
            ,p.country
    ORDER BY SUM(t.ytd_sales) DESC
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetRandomNumber]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Created by Nury Amanmadov
    Date created: 16.04.2022 (ddMMyyyy)
*/

CREATE PROCEDURE [dbo].[USP_GetRandomNumber] 
(
    @Lower INT, 
    @Upper INT 
)
AS
BEGIN
    IF NOT (@Lower < @Upper) 
        BEGIN 
            RAISERROR('@Lower parameter can not be greater than or equal to the @Upper parameter', 16, 1)
            RETURN -1
        END
    DECLARE @Random INT;
    SELECT @Random = ROUND(((@Upper - @Lower -1) * RAND() + @Lower), 0)
    PRINT('Generated random number: ' + CAST(@Random AS VARCHAR))
    SELECT @Random
END


-- EXEC USP_GetRandomNumber 100,100  
-- EXEC USP_GetRandomNumber 101,100
-- EXEC USP_GetRandomNumber 100,102
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 10.04.2022
*/

CREATE PROCEDURE [dbo].[USP_InsertBook] 
     @book_title AS VARCHAR(100)
    ,@prequel_id AS VARCHAR(6) = NULL
    ,@book_price AS MONEY
    ,@book_advance AS MONEY
    ,@book_royalty INT
	,@book_ytd_sales INT
	,@book_notes VARCHAR(800)
	,@book_pubdate DATETIME
    ,@book_isbn VARCHAR(17)
    ,@pub_id AS CHAR(4) = NULL
    ,@pub_name AS VARCHAR(40) = NULL
    ,@pub_city AS VARCHAR(20) = NULL
    ,@pub_state AS CHAR(2) = NULL
    ,@pub_country AS VARCHAR(30) = NULL
    ,@author_id VARCHAR(11) = NULL
    ,@au_lname VARCHAR(40) = NULL
    ,@au_fname VARCHAR(20) = NULL
    ,@au_phone CHAR(12) = NULL
    ,@au_city VARCHAR(20) = NULL
    ,@au_state CHAR(2) = NULL
    ,@au_order TINYINT = 1
    ,@royalty_per INT = 100
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION

            --#region Insert into Publisher Table

                IF (@pub_id IS NULL)
                    --#region Create New Publisher
                    BEGIN 
                        -- Create pub_id as Max Id + 1
                        SET @pub_id = (SELECT CAST(MAX(CAST(pub_id AS INT) + 1) AS VARCHAR) FROM publishers AS VARCHAR)
                        
                        INSERT INTO [pubs].[dbo].[publishers] 
                        VALUES  (
                                     @pub_id
                                    ,@pub_name
                                    ,@pub_city
                                    ,@pub_state
                                    ,@pub_country
                                )

                        --#region Insert into Pub_Info Table 
                            DECLARE @pr_info AS VARCHAR(255)
                            SET @pr_info = (
                                                SELECT  'This is sample text data for ' 
                                                        + pub_name + ', publisher ' 
                                                        + pub_id + ' in the pubs database. ' 
                                                        + pub_name + ' is located in ' + city + ' ' + country + '.' AS pr_info
                                                FROM [pubs].[dbo].[publishers] p 
                                                WHERE p.pub_id = @pub_id
                                            )

                            INSERT INTO [pubs].[dbo].[pub_info] 
                            VALUES  (
                                        @pub_id
                                        ,NULL
                                        ,@pr_info
                                    )
                        --#endregion
                    END 
                    --#endregion
                ELSE 
                    BEGIN
                        -- Just to make sure that selected publisher exists in the database
                        IF NOT EXISTS (SELECT TOP 1 1 FROM publishers p WHERE pub_id = @pub_id)
                            BEGIN
                                RAISERROR('Publisher with selected ID does not exist', 16, 1) 
                            END  
                        ELSE 
                            BEGIN 
                                -- Setting params. Will be inserted into Audit.Book table 
                                SELECT   @pub_name = p.pub_name
                                        ,@pub_city = p.city
                                        ,@pub_state = p.[state]
                                        ,@pub_country = p.country
                                FROM publishers p
                                WHERE p.pub_id = @pub_id 
                            END    
                    END 

            --#endregion

            --#region Insert into Titles Table

                --#region Creating Random TitleId
                    DECLARE @t1 AS CHAR(1) = (SELECT SUBSTRING('ABCDEFGHIJKLMNOPQRSTUVWXYZ',(ABS(CHECKSUM(NEWID())) % 26) + 1, 1))
                    DECLARE @t2 AS CHAR(1) = (SELECT SUBSTRING('ABCDEFGHIJKLMNOPQRSTUVWXYZ',(ABS(CHECKSUM(NEWID())) % 26) + 1, 1))
                    DECLARE @t3 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-1+1)+1)) AS CHAR)))
                    DECLARE @t4 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-1+1)+1)) AS CHAR)))
                    DECLARE @t5 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-1+1)+1)) AS CHAR)))
                    DECLARE @t6 AS CHAR(1) = (SELECT(CAST((FLOOR(RAND()*(9-1+1)+1)) AS CHAR)))
                    DECLARE @random_title_id [dbo].[tid] = (SELECT @t1 + @t2 + @t3 + @t4 + @t5 + @t6)
                --#endregion

                INSERT INTO titles
                VALUES
                (
                     @random_title_id
                    ,@book_title
                    ,@pub_id
                    ,@book_price
                    ,@book_advance
                    ,@book_royalty
                    ,@book_ytd_sales
                    ,@book_notes
                    ,@book_pubdate
                    ,@prequel_id
                    ,@book_isbn
                )

            --#endregion

            --#region Insert into Authors Table

                DECLARE @au_zip CHAR(5)
                DECLARE @au_contract BIT
                DECLARE @au_address VARCHAR(40)

                IF(@author_id IS NULL)
                    BEGIN 
                        -- Generate Random AuthorID
                        DECLARE @a1 AS CHAR(3) = (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))
                        DECLARE @a2 AS CHAR(2) = (SELECT(CAST((FLOOR(RAND()*(99-10+1)+10)) AS CHAR)))
                        DECLARE @a3 AS CHAR(4) = (SELECT(CAST((FLOOR(RAND()*(9999-1000+1)+1000)) AS CHAR)))
                        SET @author_id = (SELECT @a1 + '-' + @a2 + '-' + @a3)

                        -- Setting Random Zip in the 99xyz format
                        SET @au_zip = '99'+ (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))
                        -- SELECT @au_zip

                        -- Setting @au_contract as random 
                        SET @au_contract = (SELECT(CAST((FLOOR(RAND()*(1-0+1)+0)) AS BIT)))
                        -- SELECT @au_contract

                        -- Setting Random Address from AdventureWorks DB Person.Address table
                        SET @au_address = (SELECT TOP 1 LEFT(AddressLine1,40) FROM AdventureWorks.Person.Address WHERE AddressLine1 IS NOT NULL ORDER BY NEWID())
                    
                        INSERT INTO authors 
                        VALUES
                        (
                             @author_id
                            ,@au_lname
                            ,@au_fname
                            ,@au_phone
                            ,@au_address
                            ,@au_city
                            ,@au_state
                            ,@au_zip
                            ,@au_contract
                        )
                    END
                ELSE
                    BEGIN
                        IF NOT EXISTS (SELECT TOP 1 1 FROM authors a WHERE a.au_id = @author_id)
                            BEGIN
                                RAISERROR('Author with selected ID does not exist', 16, 1) 
                            END
                        ELSE 
                            BEGIN  
                                SELECT   @au_lname = a.au_lname
                                        ,@au_fname = a.au_fname
                                        ,@au_phone = a.phone
                                        ,@au_city = a.city
                                        ,@au_state = a.[state]
                                FROM authors a 
                                WHERE a.au_id = @author_id
                            END 
                    END

            --#endregion

            --#region Insert into TitleAuthor Table
            
                INSERT INTO titleauthor
                VALUES
                (
                     @author_id
                    ,@random_title_id
                    ,@au_order
                    ,@royalty_per
                )
            --#endregion

            --#region Insert into Audit Table

                INSERT INTO Audit.Book 
                VALUES
                (
                     @pub_id 
                    ,@pub_name 
                    ,@pub_city   
                    ,@pub_state  
                    ,@pub_country
                    ,@random_title_id 
                    ,@prequel_id
                    ,@book_title 
                    ,NULL 
                    ,@book_price 
                    ,@book_advance 
                    ,@book_royalty  
                    ,@book_ytd_sales  
                    ,@book_notes  
                    ,@book_pubdate  
                    ,@author_id  
                    ,@au_lname
                    ,@au_fname 
                    ,@au_phone 
                    ,@au_address 
                    ,@au_city 
                    ,@au_state
                    ,@au_zip
                    ,@au_contract 
                    ,@royalty_per 
                    ,@au_order 
                    ,GETDATE()
                    ,SYSTEM_USER
                )
            --#endregion

            PRINT('Book Has Been Sucessfully Added')

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END

/*

    EXEC USP_InsertBook @pub_id = 9910, @pub_name = 'Allen & Unwin'
    ,@city = 'London', @state = NULL, @country = 'UK' 
    ,@book_tite = 'LOTR1', @book_type = 'Fantasy' 
    ,@book_price = 40, @book_advance = 20000, @book_royalty = 5000000.0
	,@book_ytd_sales = 1234567, @book_notes = 'Best book', @book_pubdate = '1990-01-01' 
    ,@au_lname = 'J', @au_fname = 'Tolkien'
    ,@au_phone = '929 123-4567', @au_city = 'London', @au_state = NULL, @royalty_per = 20


*/

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCoAuthorForTitle]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Created by Nury Amanmadov
    Date created: 16.04.2022
*/

CREATE PROCEDURE [dbo].[USP_InsertCoAuthorForTitle]
     @title_id dbo.tid 
    ,@au_id VARCHAR(11) = NULL
    ,@au_lname VARCHAR(40) = NULL
    ,@au_fname VARCHAR(20) = NULL
    ,@au_phone CHAR(12) = '000-000-0000'
    ,@au_city VARCHAR(20) = NULL
    ,@au_state CHAR(2) = NULL
    ,@au_order TINYINT = 2
    ,@royalty_per INT = 0
AS
BEGIN
    BEGIN TRY 
        BEGIN TRANSACTION
            IF NOT EXISTS(SELECT TOP 1 1 FROM titles WHERE title_id = @title_id)
                BEGIN 
                    RAISERROR('Book with provided ID does not exist', 16, 1)
                END

            IF(@au_id IS NULL)
                BEGIN
                    DECLARE @au_zip CHAR(5)
                    DECLARE @au_contract BIT
                    DECLARE @au_address VARCHAR(40)
                    -- Generate Random AuthorID using USP_GenerateRandomAuthorId stored procedure
                    EXEC USP_GenerateRandomAuthorId @au_id OUTPUT

                    -- Setting Random Zip in the 99xyz format
                    SET @au_zip = '99'+ (SELECT(CAST((FLOOR(RAND()*(999-100+1)+100)) AS CHAR)))

                    -- Setting @au_contract as random 
                    SET @au_contract = (SELECT(CAST((FLOOR(RAND()*(1-0+1)+0)) AS BIT)))

                    -- Setting Random Address from AdventureWorks DB Person.Address table
                    SET @au_address =   (
                                            SELECT TOP 1 LEFT(AddressLine1,40) 
                                            FROM AdventureWorks.Person.Address 
                                            WHERE AddressLine1 IS NOT NULL 
                                            ORDER BY NEWID()
                                        )
                
                    INSERT INTO authors 
                    VALUES
                    (
                         @au_id
                        ,@au_lname
                        ,@au_fname
                        ,@au_phone
                        ,@au_address
                        ,@au_city
                        ,@au_state
                        ,@au_zip
                        ,@au_contract
                    )     

                    INSERT INTO titleauthor
                    VALUES
                    (
                         @au_id
                        ,@title_id
                        ,@au_order
                        ,@royalty_per
                    )
                END
            ELSE 
                BEGIN 
                    IF NOT EXISTS(SELECT TOP 1 1 FROM authors WHERE au_id = @au_id)
                        BEGIN 
                            RAISERROR('Author with provided ID does not exist', 16, 1)
                        END
                    ELSE 
                        BEGIN 
                            INSERT INTO titleauthor
                            VALUES
                            (
                                 @au_id
                                ,@title_id
                                ,@au_order
                                ,@royalty_per
                            )
                        END
                END
            PRINT('CoAuthor for the Provided Book Has Been Sucessfully Added')
        COMMIT TRANSACTION
    END TRY 
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertRandomBorrower]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_InsertRandomBorrower]
AS
BEGIN
    DECLARE @id INT 
    DECLARE @ssn VARCHAR(11) 
    DECLARE @fname VARCHAR(100) 
    DECLARE @lname VARCHAR(100) 
    DECLARE @address VARCHAR(200) 
    DECLARE @phone CHAR(12) 
    DECLARE @birthdate DATE
    DECLARE @cardissuedate DATE
    DECLARE @balancedue DECIMAL(6,2)
    DECLARE @lgname VARCHAR(200) = NULL 
    DECLARE @lgaddress VARCHAR(200) = NULL 
    DECLARE @lgphone VARCHAR(200) = NULL 

    SET @id = (SELECT MAX(id) + 1 FROM borrowers )
    SET @fname = dbo.fn_GenerateFirstName()
    SET @lname = dbo.fn_GenerateLastName()
    SET @ssn = dbo.fn_GenerateRandomSsn(RAND())
    SET @address = dbo.fn_GenerateRandomAddress()
    SET @phone = dbo.fn_GenerateRandomPhone(RAND())

    SET @birthdate = dbo.fn_GenerateRandomDate('1999-01-01','2010-01-01',RAND())
    DECLARE @age INT = DATEDIFF(YY,@birthdate,GETDATE())
    SET @cardissuedate = DATEADD(year, dbo.fn_GetRandomNumber(5,@age,RAND()), @birthdate)
    
    SET @balancedue = 0
    
    IF(@age < 17)
        BEGIN
            SET @lgname = dbo.fn_GenerateFirstName()
            --Set randomly address of borrower same as guardians
            DECLARE @isSameAddress BIT = CAST(ROUND(RAND(),0) AS BIT)
            IF(@isSameAddress = 0) 
                BEGIN 
                    SET @lgaddress = @address 
                END  
            ELSE 
                BEGIN 
                    SET @lgaddress = dbo.fn_GenerateRandomAddress()
                END 
            SET @lgphone = dbo.fn_GenerateRandomPhone(RAND())
        END 

    INSERT INTO borrowers
    VALUES 
    (
         ISNULL(@id,1) -- if first time 
        ,ISNULL(@id,1) -- if first time 
        ,@ssn  
        ,@fname 
        ,@lname 
        ,@address 
        ,@phone   
        ,@birthdate 
        ,@cardissuedate 
        ,@balancedue 
        ,0 -- default value
        ,@lgaddress 
        ,@lgname
        ,@lgphone  
    )

    PRINT('Borrower sucessfully created.')
END





GO
/****** Object:  StoredProcedure [dbo].[USP_ReturnBook]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_ReturnBook]
    @card_id INT,
    @copy_id INT
AS 
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION
            --#region Check borrowed book exists
            IF NOT EXISTS(SELECT TOP 1 1 FROM books_borrowed WHERE card_id = @card_id AND copy_id = @copy_id AND isReturned = 0)
            BEGIN
                RAISERROR('There is no borrowed book with the given details.', 16, 1) 
            END
            --#endregion
            DECLARE @id INT = (SELECT id FROM books_borrowed WHERE card_id = @card_id AND copy_id = @copy_id AND isReturned = 0)
            DECLARE @daysElapsed INT = (SELECT DATEDIFF(DD,borroweddate,GETDATE()) FROM books_borrowed WHERE id = @id)
            --PRINT(CAST(@daysElapsed as varchar))

            -- Set book available to borrow
            UPDATE bookcopies SET isavailable = 1 WHERE copy_id = @copy_id
            -- Set isReturned to true
            UPDATE books_borrowed SET isReturned = 1, returndate = GETDATE() WHERE id = @id
            
            DECLARE @pr DECIMAL(6,2)
            IF(@daysElapsed > 14)
                BEGIN 
                    DECLARE @typeId INT = (SELECT tc.title_type_id FROM bookcopies bc JOIN titlecategory tc ON tc.title_id = bc.title_id WHERE copy_id = @copy_id)
                    -- Check if Juvenile
                    IF(@typeId = 4)
                        BEGIN 
                            SET @pr = .05
                        END 
                    ELSE 
                        BEGIN
                            SET @pr = .10 
                        END
                    --Update card balancedue 
                    UPDATE borrowers SET balancedue = balancedue + (@pr * @daysElapsed) WHERE card_id = @card_id
                END
            
            PRINT('Book Has Been Sucessfully Returned')
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT('An Error Occured During The Transaction. Error SP: ' + ERROR_PROCEDURE() + 'Error line: ' + CAST(ERROR_LINE() AS VARCHAR))
        PRINT(ERROR_MESSAGE())
    END CATCH
END


-- SELECT * from books_borrowed where id =1

-- EXEC USP_ReturnBook @card_id = 2, @copy_id = 10 

-- select * from borrowers where card_id = 2
-- select * from bookcopies where copy_id = 10

-- update books_borrowed set isReturned = 0 where id = 1

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateEmployeeVacationHours]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_UpdateEmployeeVacationHours]
AS 
BEGIN 
    UPDATE employees 
    SET vacation_hours = CASE 
                            WHEN DATEDIFF(YY,hiredate,GETDATE()) BETWEEN 0 AND 5 THEN 114
                            WHEN DATEDIFF(YY,hiredate,GETDATE()) BETWEEN 5 AND 10 THEN 154
                            ELSE 200
                         END
    FROM employees
END

GO
/****** Object:  Trigger [dbo].[CheckBookcopies]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[CheckBookcopies] 
ON [dbo].[bookcopies]
INSTEAD OF INSERT
AS
BEGIN
IF EXISTS(
            SELECT * 
            FROM bookcopies 
            WHERE branch_id = (SELECT branch_id FROM inserted) 
            AND title_id = (SELECT title_id FROM inserted) AND isactive = 1
         )
            BEGIN
                RAISERROR('There is already a copy of this book on this branch', 10, 1)
                ROLLBACK
            END
END


-- insert into bookcopies values(53,'CI5668',1,'GOOD',1,1)
GO
ALTER TABLE [dbo].[bookcopies] ENABLE TRIGGER [CheckBookcopies]
GO
/****** Object:  Trigger [dbo].[CheckEmployees]    Script Date: 4/24/2022 7:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[CheckEmployees] 
ON [dbo].[employees]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @branchId INT = (SELECT branch_id FROM inserted)
    DECLARE @isHead BIT = (SELECT ishead_librarian FROM inserted)
    DECLARE @empTypeId INT = (SELECT employee_type_id FROM inserted)
    -- phone can be used as unique identifier
    DECLARE @phone VARCHAR(12) = (SELECT cellphone FROM inserted)

    
    IF(@isHead = 1)
    BEGIN 
        -- Check if head librarian exists for the branch
        IF EXISTS(SELECT TOP 1 1 FROM employees WHERE branch_id = @branchId AND ishead_librarian = 1)
        BEGIN
            RAISERROR('There is already a head librarian on this branch', 10, 1)
            ROLLBACK
        END

        -- Check if employee is of type librarian
        IF(@empTypeId <> 1)
            BEGIN
                RAISERROR('Only librarians can be head librarian', 10, 1)
                ROLLBACK
            END
    END
    
    -- Check if librarian exists
    IF EXISTS(SELECT TOP 1 1 FROM employees WHERE cellphone = @phone AND isActive = 1)
        BEGIN
            RAISERROR('Employee is already assigned to', 10, 1)
            ROLLBACK
        END
    PRINT('Employee has been sucessfully added.')
END


GO
ALTER TABLE [dbo].[employees] ENABLE TRIGGER [CheckEmployees]
GO
USE [master]
GO
